@font-face {
    font-family: "MonaspaceNeon";
    src: url("/assets/fonts/MonaspaceNeon.ttf");
}

@font-face {
    font-family: "QTAvanti";
    src: url("/assets/fonts/QTAvanti.otf");
    font-weight: normal;
    font-style: normal;
}

.margin-top-minus {
    margin-top: -20px;
}

.main-title {
    font-family: "QTAvanti", sans-serif;
    font-weight: 500 !important;
    color: #458F94 !important;
}

.sub-title {
    font-weight: 500;
}

.callout-info {
    background-color: var(--callout-info-background-color);
    border-radius: 2px;
}

.features-container {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 15px;
    row-gap: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.feature-header {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
}

.features-container hr {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.centering-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.centering-container video {
    border-radius: 10px;
}

.page-header {
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    z-index: 1000;
}

p:has(.align-center) {
    display: flex;
}

.align-center {
    margin: auto auto;
}

.margin-top-medium {
    margin-top: 1rem;
}

.margin-top-bottom-medium {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.center-text {
    text-align: center;
}

:root>* {
    --md-accent-fg-color: #458F94;
    --md-accent-fg-color--transparent: #458F9420;
    --md-typeset-a-color: #0e1116;
}

:root>*[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #EE0F0F;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark: #90030C;
}

p img {
    border-radius: 0.4rem;
}

.drop-shadow {
    box-shadow: 0 11px 18px -10px #0000004F;
}
